html {
    font-family: "Inter";
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 400px;
    height: auto;
    padding: 40px;
    border-radius: 16px;
    border: 2px solid #1cbcbdfc;
    background-color: rgb(218, 254, 255);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.63);
}
input {
    width: 300px;
    height: 40px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1.5px solid rgb(171, 171, 171);
    padding: 0 8px;
}
#demo {
    display: none;
    color: rgba(255, 0, 0, 0.852);
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}
button {
    width: 130px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(15, 137, 4);
    border: 0;
    color: white;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.389);
}
button:hover {
    transform: scale(1.05);
}
#formOutput {
    border-radius: 16px;
    gap: 30px;
    flex-direction: column;
    display: none;
    height: auto;
    width: 300px;
    padding: 40px;
    background-color: rgb(232, 252, 255);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.63);
}
